In [3]:
import pandas as pd

In [5]:
temperatureInputDataset = pd.read_csv("GlobalLandTemperaturesByCountry.csv")

# Filtro il dataset di partenza prendendo solo le date a partire dall'anno 2000
filteredTemperatureDataset = temperatureInputDataset[temperatureInputDataset['dt'] > '2000-01-01']

# Applico un reset degli indici dopo il filtro sulla data e rimuovo la colonna riguardante il margine di errore
# sulla misurazione
filteredTemperatureDataset = filteredTemperatureDataset.reset_index()
filteredTemperatureDataset = filteredTemperatureDataset.drop(columns = 'index')
filteredTemperatureDataset = filteredTemperatureDataset.drop(columns = 'AverageTemperatureUncertainty')

# Liste di supporto per ciclare il dataset
countryList = filteredTemperatureDataset['Country'].unique()
monthList = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

# Creazione Dataframe di output
temperatureOutputDataset = pd.DataFrame({'Month': [], 'AverageTemperature': [], 'Country': []})

# Ciclo sul dataset per ogni paese estraendo la media di temperatura per ogni mese
# Codice commentato per l'elevato tempo di computazione, il valore di output viene popolato tramite l'import del 
# csv generato
#
# for country in countryList:
#     tmpDataset = filteredTemperatureDataset[filteredTemperatureDataset['Country'] == country]
#     for month in monthList:
#         # Utilizzo una regex per determinare il mese interessato
#         tmpMonthDf = temperatureInputDataset[temperatureInputDataset['dt'].str.match('\d\d\d\d-' + month + '-\d\d') == True]
#         temperatureMean = tmpMonthDf['AverageTemperature'].mean()
#         # Creazione row temporanea da appendere al Dataframe di output
#         tmpRow = pd.DataFrame({'Month': [month],'AverageTemperature': [temperatureMean], 'Country': [country]})
#         temperatureOutputDataset = temperatureOutputDataset.append(tmpRow, ignore_index = True)
#
# temperatureOutputDataset.to_csv("GlobalLandTemperatureByCountry(2000+).csv",index=False)

temperatureOutputDataset = pd.read_csv("GlobalLandTemperatureByCountry(2000+).csv")

In [6]:
temperatureOutputDataset

      Month  AverageTemperature   Country
0         1           11.635348     Åland
1         2           12.577014     Åland
2         3           14.574245     Åland
3         4           16.969519     Åland
4         5           19.523826     Åland
...     ...                 ...       ...
2911      8           22.016857  Zimbabwe
2912      9           20.380570  Zimbabwe
2913     10           17.743976  Zimbabwe
2914     11           14.978010  Zimbabwe
2915     12           12.488278  Zimbabwe

[2916 rows x 3 columns]